block variables
doctype html 
html 
    head 
        meta(charset="utf-8")  
        title #{title} | API Project 
        block scripts
            link(rel="stylesheet", type="text/css", href="css/styles.css")
    body 
        header#header 
            .header-content 
            h2#site-name 
                a(href="/") SoundPalette Project
        main#main 
            block main-content
        footer#footer
            p &copy; Copyright SoundPalette, 2025.
